body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  text-align: center;
  transition: all 0.5s ease;
}

.logo-wrapper {
  background-color: rgba(255, 202, 202, 1);
  border-radius: 14px;
  width: 300px;
  height: 350px;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
}

.logo-wrapper:hover {
  background-color: #FF5C5C;
}

.logo-image {
  width: 200px;
  height: auto;
  position: absolute;
  top: 13px;
  right: 13px;
  transition: all 0.5s ease;
  z-index: 2;
  border-radius: 3px;
}

.text-section {
  position: absolute;
  top: 140px; 
  left: 15px;
  right: 15px;
  z-index: 3;
  text-align: left;
  color: #333;
}

.text-section h3 {
  margin: 0;
  font-size: 17px;
}

.text-section h3,
.text-section .subtext{
  line-height: 0.7;
}

.text-section .subtext,
.text-section .highlight {
  line-height: 1;
}

.subtext {
  font-size: 13px;
  font-weight: bold;
}

.logo-wrapper.text-section{
    font-size: 11px;
  margin-left: 23%;
  margin-top: 94%;
}

.highlight {
  font-size: 13px;
  font-weight: 800;
  color: #a94442;
}


.description {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  position: relative;
  z-index: 1;
  transition: opacity 0.5s ease;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  color: white;
  
}

.description .text1 {
  font-weight: bold;
  font-size: 13px;
  color: white;
  text-align: left;
  max-width: 108%;
  margin-left: -77%;
  margin-top: -4%;
}

.description .text2 {
  font-weight: bold;
  font-size: 13px;
  color: white;
  text-align: left;
  max-width: 190%;
  margin-left: -77%;
  margin-top: 0.5%;
}

.description .text1,
.description .text2 {
  line-height: 1.2;
}

#expandable.expanded .logo-wrapper {
  display: flex;
  flex-direction: row;
  width: 610px;
  height: 350px;
  background-color: rgba(255, 202, 202, 1);
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}


#expandable.expanded .logo-image {
  width: 140px;
  top: 20px;
  right: 20px;
}

#expandable.expanded .description {
  pointer-events: auto;
  color: black;
  width: 300px;
  opacity: 1;
  pointer-events: auto;
  color: black;
}

#expandable.expanded .text-section {
  color: black;
  top: -46px;
}
#expandable.expanded {
  z-index: 9999 !important;   
  pointer-events: auto !important; 
}
body {
  background: transparent !important;
}

